!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Mastermind
  %body
    %h1 Welcome to Mastermind!
    %ul
      - @guesses.each do |guess|
        %li =guess
    %form{:action => "/win"}
      %input{:type => "submit", :value => "Win!"}
    %form{:action => "/lose"}
      %input{:type => "submit", :value => "Lose!"}
