!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Victory!
  %body
    %h1 You lose :(
    %form{:action => "/"}
      %input{:type => "submit", :value => "Play Again"}
