!!!
%html
  %head
    %link{ :href => "https://fonts.googleapis.com/css?family=Lobster+Two|Oswald", :rel => "stylesheet", :type =>"text/css" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :charset => "utf-8"}/
    %title Mastermind
    %link{:href => "/css/main.css", :rel => "stylesheet"}
  %body
    %header{:style => "width: 250px"}
      %h1 Mastermind
    %div.board{:style => "width: 250px; height: 450px"}
      %form#radio_guess{:action => "/player1_picks", :method => "post"}
        %div.guess

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Pink"}
              %span


          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Pink"}
              %span

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Pink"}
              %span

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Pink"}
              %span

    %div.bottom_navbar{:style => "width: 250px; height: 40px"}
      %input{ :form => "radio_guess", :type => "submit", :value => "Set Secret"}
