!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Victory!
  %body
    %h1 You win!
    %form{:action => "/restart", :method => "post"}
      %input{:type => "submit", :value => "Play Again"}
