!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Victory!
    %link{:href => "/css/main.css", :rel => "stylesheet"}
  %body
    %div.winner
      %h1 You win!
      %form{:action => "/restart", :method => "post"}
        %input{:type => "submit", :value => "Play Again"}
      %div.stats
        %p="Games Played: #{$game_stats.played}"
        %p="Games Won: #{$game_stats.won}"
        %p="Minimum Guesses to Win: #{$game_stats.min_to_win}"
